fastapi
uvicorn[standard]
python-multipart
python-dotenv
anthropic
sqlalchemy
psycopg2-binary
alembic
requests
pymupdf
pytesseract
Pillow
urlextract
prometheus-fastapi-instrumentator
torch
torchvision
numpy
tqdm
pytest